@import "tailwindcss";

/* Custom gradient background */
.bg-gradient-to-top-left {
  background: linear-gradient(to bottom left, transparent 20%, #00f7ff28 100%);
}

.bg-gradient-to-bottom-right {
  background: linear-gradient(to bottom right, transparent 20%, #00ff1e26 100%);
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* body {
} */
